image:
  repository: ghcr.io/coder/code-server
  tag: 4.95.1
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

env:
  passwordSecret:
    name: code-server-auth
    key: password

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: "hcloud-volumes"
  mountPath: /home/coder

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

ingress:
  enabled: true
  host: code.neumann.tonioriol.com
  tls:
    enabled: true
    issuer: letsencrypt-prod
    secretName: code-neumann-tonioriol-com-tls
