image:
  repository: mcr.microsoft.com/devcontainers/universal
  tag: 2
  pullPolicy: IfNotPresent

replicaCount: 1

tunnel:
  name: code
  acceptLicense: true

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: "hcloud-volumes"
  mountPath: /code

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

ingress:
  enabled: false
