image:
  repository: ghcr.io/tonioriol/code-workspaces
  tag: latest
  pullPolicy: Always

replicaCount: 1

persistence:
  enabled: true
  size: 20Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: "hcloud-volumes"
  mountPath: /data

resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 4000m
    memory: 4Gi

serviceAccount:
  create: true
  clusterAdmin: true
