apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: acestream
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            # Required to allow access from outside the container network namespace.
            # See upstream README: ALLOW_REMOTE_ACCESS=yes.
            - name: ALLOW_REMOTE_ACCESS
              value: "yes"
          ports:
            - containerPort: {{ .Values.service.port }}
