apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- include "acestreamio.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "acestreamio.labels" . | nindent 4 }}
  ports:
    - name: http
      port: 80
      targetPort: http

