{{- if .Values.auth.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-auth
  labels:
    app: {{ .Release.Name }}
type: Opaque
stringData:
  ACEXY_TOKEN: {{ .Values.auth.token | quote }}
{{- end }}
