apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: onepassword
spec:
  provider:
    onepassword:
      connectHost: http://onepassword-connect.1password.svc.cluster.local:8080
      vaults:
        neumann: 1
      auth:
        secretRef:
          connectTokenSecretRef:
            name: onepassword-token
            namespace: 1password
            key: token
